#btnEnviar{
    background-color:#C2185B;
    color: aliceblue;
    font-size: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}