.crd-grande {
    border-radius: 20px; 
    background: linear-gradient(179.45deg, #E040FB 1.86%, rgba(233, 30, 147, 0.71) 55.95%, rgba(222, 20, 100, 0.94) 99.51%, rgba(255, 2, 199, 0.28) 99.52%);
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
 }
 
 .estilo-icono-card {
   font-size: 80px; 
   color: #E91E93;
 }
 
 .body-card-chico {
   margin: -6%; 
   border-radius: 30px;
 }
 
 .square-1 {
   height: 20px;
   width: 20px;
   background-color: #FF0000;
 }
 
 .square-2 {
   height: 20px;
   width: 20px;
   background-color: #800909;
 }
 
 .square-3 {
   height: 20px;
   width: 20px;
   background-color: #FFD4E5;
 }
 
 .ver-mas {
   border-radius: 10px;
   color: #C2185B;
   border: white;
 }