
.imageContainer{
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#image{
    border-width: 1;
    border-style: solid;
    border-color:#C2185B;
    width: 100%;
    height: 270px;
    margin-top: 10px;
}

#iconAdd{
    background-color: #C2185B;
    color: #fff;
    font-size: 40px
}

#divAdd{
    margin-top: 30px;
}

#btnAdd{
    margin:auto;
    border-width: 4px;
    border-style: solid;
    border-color:#C2185B;
    border-radius: 50px;
    background-color: #C2185B;
    box-shadow: 5px 2px 2px rgba(245, 76, 222, 0.616);
}

#defaulImage{
    border-width: 1;
    border-style: solid;
    border-color:#C2185B;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#btnGuardar{
    border-width: 3;
    border-style: solid;
    border-color:#C2185B;
    color: #C2185B;
    width: 120px;
    font-size: 15px;
    font-style:normal;
    font-weight: bold;
}

#productName{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#description{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#supplier{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#productType{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#url{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#stock{
    border-width: 2;
    border-style: solid;
    border-color:#C2185B;
}

#card1{
    background-color: #ff88b00e;
    margin-top: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #C2185B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #C2185B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .opcion-radio {
    display: inline-block;
    margin-right: 18px;
  }
  
  .opcion-radio input {
    margin-right: 5px;
  }
  
  
  .opcion-radio input[type=radio] {
      position: absolute;
      opacity: 0;
  }
  .opcion-radio input[type=radio] + label:before {
      content: '';
      background: #F4F5F8;
      border-radius: 100%;
      border: 1px solid #a6aec6;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      position: relative;
      top: -.2em;
      margin-right: .5em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      display: inline-block;
      vertical-align: middle;
  }
  .opcion-radio input[type=radio]:checked + label:before {
      background-color: #C2185B;
      box-shadow: inset 0 0 0 4px #F4F5F8;
  }
  .opcion-radio label {
      display: inline-block;
      vertical-align: middle;
      line-height: 32px;
  }


  #cardUi{
    width: 100%;
    margin-top:30px;
  }