#image{
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

#imageCard{
    width: 80%;
    height: 100px;
}

#btnComprar{
    margin-left: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(226, 48, 107);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family:sans-serif;
}



.textMarked{
    font-size: 15px;
    font-weight: bold;
    font-family:sans-serif;
    margin-top: 30px;
}

.textInfo{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
    margin-top:10px;
    margin-left: 5px;
}

#cardUi{
    width: 100%;
    
}

#cardUi2{
    width: 100%;
    margin-left: 20px;
}
